/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	font-size: 1rem; /* default element font size = base */
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1rem;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* end of reset */



body {
	--line-height: 1.5rem;
	--heading-line-height: 2rem;
	--heading-font-size-h1: 3rem;
	--heading-font-size-h3: 1rem;
	--heading-font-size-h2: 1.1rem;
	--table-bottom-margin: 1rem;
	--page-margin-top: 1.5rem;
	--page-margin-left: 1rem;
	--page-margin-right: 1rem;

	/* Alignment guide for main centered content */
	--align-guide-main-width: calc(100vw - 2 * var(--align-guide-width) - var(--page-margin-left) - var(--page-margin-right));
	/* --align-guide-main-width: calc(100vw - 2 * var(--align-guide-width)); */

	/* font: normal normal 400; */
	/* font: normal normal 400 16px sans-serif; */
	font-style: normal;
	font-variant-caps: normal;
	font-weight: 400;

	line-height: var(--line-height);
	font-family: sans-serif;
	font-size-adjust: none;

	line-height: var(--line-height);
	/*also written as...  font: normal normal 400 100%/1rem;*/
	font-family: Avenir,Verdana,sans-serif;
	margin-top: var(--page-margin-top);
	margin-left: var(--page-margin-left);
	margin-right: var(--page-margin-right);
}

p {
	position: relative;
	/* left: 25%; */
	margin-bottom: 0.7rem;
	/* margin-right: 0; */
	/* width: 55%; */
}

code {
	/* font: normal normal 400 16px monospace; */
	/* font-size: 90%; */
	/*line-height: 1rem;*/
	font-family: Monaco,Menlo,monospace,sans-serif;
	color: #aaa;
}

p code {
	position: absolute;
	text-align: right;
	/* right: -20%; */
}


ul {
	position: relative;
	/* left: 25%; */
	/* width: 75%; */
	margin-bottom: 1.5rem;
	/* margin-top: -0.5rem; */
	margin-top: 0.5rem;
}

/*uncomment to get dashes in the list*/
/*li:before {
	content: "-";
	position: relative;
	left: -0.25rem;
}*/

li {
	/*second line indent*/
	padding-left: 1.25rem;
	text-indent: -1.25rem;
	/*color: #777;*/
}

li ul {
	position: relative;
	/* left: 0; */
	/* width: 100%; */
	margin-top: 0.25rem;
}

h1,h2,h3,h4 {
	font-weight: 400;
	font-family: Avenir,Cousine,Verdana,sans-serif;
	/* width: 80%; */
}

h1 {
	text-align: left;
	font-size: var(--heading-font-size-h1);
	line-height: var(--heading-font-size-h1);
	position: relative;
	/* left: 25%; */
}

h1+p {
	/*subtitle*/
	font-style: italic;
	font-size: 110%;
}

h2 {
	font-size: var(--heading-font-size-h2);
	line-height: var(--heading-font-size-h2);
	color: #cd3f45;
	/* margin-top: 3rem; */
	/* position: relative; */
	/* top: 1.4rem; */
	/* text-align: right; */
	/* width: 20%; */
}

h3 {
	font-size: var(--heading-font-size-h3);
	line-height: var(--heading-line-height);
	position: relative;
	/* top: 1.7rem; */
	/* text-align: right; */
	/* width: 20%; */
}

a {
	color: inherit;
	/*text-decoration:none*/
}

a:hover {
	color: #43a5d5;
}

/* Flexbox layout */
#cv {
	--gap: 0rem;
	--line-offset: calc(var(--gap) / 2);
	--line-thickness: 2px;
	--line-color: #444;

	display: flex;
	gap: var(--gap);
	flex-flow: column nowrap;
}

#cv > div {
	position: relative;
	/* background-color: magenta; */
	/* &::after, &::before {
		content: 'THING';
		position: absolute;
		background-color: var(--line-color);
		z-index: 1;
	} */
	/* &::after {
		content: '';
		position: absolute;
		background-color: var(--line-color);
		z-index: 1;

		inline-size: 100vw;
		block-size: var(--line-thickness);
		inset-inline-start: 0;
		inset-block-start: calc(var(--line-offset) * -1);
	}
	&::before {
		content: '';
		position: absolute;
		background-color: #ffac10;
		z-index: 1;

		inline-size: var(--line-thickness);
		block-size: 100vh;
		inset-block-start: 0;
		inset-inline-start: calc(var(--line-offset) * -1);
	} */
}

/* Header flexbox layout */
#header {
	--gap: 0rem;
	--line-offset: calc(var(--gap) / 2);
	--line-thickness: 2px;
	--line-color: #444;

	display: flex;
	gap: var(--gap);
	flex-flow: column nowrap;
	align-items: center;
	justify-content: center;
	/* inline-size: fit-content; */

	h1, h2, h3 {
		text-align: center;
	}

	hr {
		/* position: relative; */
		/* left: var(--align-guide-width); */
		width: var(--align-guide-main-width);
	}

	#webaddress {
		margin-top: 1rem;
		text-align: center;
		/* color: #16a085; /* contrast-ratio (black): 6.4:1, (white): 3.28:1 */
		font-family: Monaco,Menlo,monospace,sans-serif;
	}
	
	#webaddress a {
		text-decoration: none;
	}
	
	#webaddress table {
		border-collapse: collapse;
		empty-cells: hide;
		/* text-indent: initial; */
		box-sizing: content-box;
		& th {
			display: none;
			line-height: 0;	
		}
	}
	
	#webaddress td {
		padding-left: 1rem;
		padding-right: 1rem;
		border-left: 0.0625rem solid black;
		text-wrap: balance;
		font-weight: 800;
	}
	
	#webaddress table tr td:first-child,
	#webaddress table tr th:first-child {
		border-left: 0;
	}
	#webaddress table tr td:last-child,
	#webaddress table tr th:last-child {
		border-right: 0;
	}
	
}

/* Flexbox layout */
#skills {
	--gap: 0rem;
	--line-offset: calc(var(--gap) / 2);
	--line-thickness: 2px;
	--line-color: #444;

	display: flex;
	gap: var(--gap);
	flex-flow: column nowrap;

	&>:not(h1, h2, h3) {
		position: relative;
		left: var(--align-guide-width);
	}

	h1, h2, h3 {
		text-align: center;
	}

	h2, h3 {
		position: relative;
		font-weight: 700;
	}
	h2 {
		/* TODO: Setup print CSS */
		/* margin-top: 1rem; */
		/* top: 1rem; */
		/* left: 15%; */
		line-height: var(--heading-line-height);
		font-size: var(--heading-font-size-h2);
		color: #9fca56;
		margin-top: var(--line-height);
		/* text-align: left; */
		width: unset;
		/* width: 33.333%; */
	}
	table {
		margin-top: var(--line-height);
		/* width: 50vw; */
		width: var(--align-guide-main-width);
		empty-cells: hide;
		& th {
			display: none;
			line-height: 0;	
		}
	}
	table > tbody > tr {
		margin-top: 0.5rem;
		/* border-top: 0.0625rem groove #222; */
		border-bottom: 0.0625rem groove #444; /* TODO: Remove this */
		td {
			padding-bottom: var(--line-height);
			vertical-align: bottom;
		}

		/* Fit first column to content + R pad & valign top */
		& td:first-child {
			min-width: max-content;
			padding-right: 1rem;
			vertical-align: top;
		}
	}
}

#skills > * {
	position: relative;
	/* background-color: magenta; */
	&::after, &::before {
		content: '';
		position: absolute;
		background-color: var(--line-color);
		z-index: 1;
	}
	&::after {
		content: '';
		position: absolute;
		background-color: var(--line-color);
		z-index: 1;

		inline-size: 100vw;
		block-size: var(--line-thickness);
		inset-inline-start: 0;
		inset-block-start: calc(var(--line-offset) * -1);
	}
	&::before {
		content: '';
		position: absolute;
		background-color: #ffac10;
		z-index: 1;

		inline-size: var(--line-thickness);
		block-size: 100vh;
		inset-block-start: 0;
		inset-inline-start: calc(var(--line-offset) * -1);
	}
}

#skills > p {
	/* position: unset; */
	/* left: unset; */
	/* width: 50vw; */
	width: var(--align-guide-main-width);
	margin-left: unset;
	margin-top: var(--line-height);
	text-align: justify;
	/* TODO: Fix alignment */
	/* position: absolute; */
    /* text-align: left; */
    /* right: -20%; */
	/* width: 92%; */
}

em {
	/* font-weight: bold; */
	font-style: italic;
}

strong {
	font-weight: bold;
}

#address {
	display: none;
}

#experience {
	
	h2 {
		font-size: var(--heading-font-size-h2);
		color: #cd3f45;
		/* margin-top: 3rem; */
		/* position: relative; */
		/* top: 1.4rem; */
		text-align: right;
		width: var(--align-guide-width);
	}

	h3 {
		font-size: var(--heading-font-size-h3);
		line-height: var(--heading-line-height);
		position: relative;
		/* top: 1.7rem; */
		text-align: right;
		width: var(--align-guide-width);
		min-width: max-content;
	}

	&> h3 + p code {
		position: absolute;
		text-align: right;
		/* TODO: Fix this to match right-aligned dates on mobile */
		/* right: calc(-1 * var(--align-guide-width)); */
		left: calc(var(--align-guide-main-width));
		top: calc(-1 * var(--heading-line-height));
		min-width: max-content;
		line-height: var(--heading-line-height);
		font-size: var(--heading-font-size-h3);

		/* left: unset; */
	}

	h4 {
		text-align: right;
    	width: var(--align-guide-width);
		min-width: max-content;
	}

	& > p, & > ol, & > ul {
		left: var(--align-guide-width);
		width: var(--align-guide-main-width);
	}
}

/* phones */

@media only screen and (max-width: 375px) {
	/* iPhone 5/5SE and smaller */
	body {
		background-color: blue;
		--line-height: 0.75rem;
		--table-bottom-margin: 0.75rem;
		--page-margin-top: 1.5rem;
		--page-margin-left: 0;
		--page-margin-right: 0;
		--align-guide-width: 5vw;
	}

	/* Override Flexbox layout for table fit on small screen */
	#header {
		& #webaddress td {
			padding-left: 1rem;
			padding-right: 1rem;
			/* border-left: 0.0625rem solid black; */
			border-left: none;
			border-right: none;
			padding-top: 0.5rem;
			padding-bottom: 0.5rem;
			border-bottom: 0.0625rem solid black;
			text-wrap: balance;
			display: flex;
			justify-content: space-between;
			align-items: center;
			flex-flow: row wrap;
		}

		& #webaddress table tr td:first-child,
		& #webaddress table tr th:first-child {
			border-top: none;
		}

		& #webaddress table tr td:last-child,
		& #webaddress table tr th:last-child {
			border-top: none;
			border-bottom: none;
		}
	}
}

@media only screen and (max-width: 599px) {
	/* mobile browsers < 600px; (iPhone) */
	body {
		background-color: pink;
		--line-height: 1rem;
		--table-bottom-margin: 0.75rem;
		--page-margin-top: 1.5rem;
		--page-margin-left: 1rem;
		--page-margin-right: 1rem;
		--align-guide-width: 5vw;
	}
	/* Avoid trying to right-align by guide-width... screen too small */
	#experience {
		& h2, h3 {
			text-align: left;
			width: unset;
		}
	}
	/* Override Flexbox layout for table fit on small screen */
	#header {
		& #webaddress td {
			padding-left: 1rem;
			padding-right: 1rem;
			/* border-left: 0.0625rem solid black; */
			border-left: none;
			border-right: none;
			padding-top: 0.5rem;
			padding-bottom: 0.5rem;
			border-bottom: 0.0625rem solid black;
			text-wrap: balance;
			display: flex;
			/* justify-content: space-between; */
			justify-content: center;
			align-items: center;
			flex-flow: row wrap;
		}

		& #webaddress table tr td:first-child,
		& #webaddress table tr th:first-child {
			border-top: none;
		}

		& #webaddress table tr td:last-child,
		& #webaddress table tr th:last-child {
			border-top: none;
			border-bottom: none;
		}
	}
 }

/* tablet portrait */
@media only screen and (min-width: 600px) and (orientation:portrait) {
	@media (min-resolution: 2dppx) {
		/* High DPI screens (e.g. Retina, 4k displays) */
		:root, html {
			/* font-size: 26px; // at 1em = 16px */
			font-size: 1.625em;
		}
	}
	@media (min-resolution: 3dppx) {
		/* High DPI screens (e.g. Retina, 4k displays) */
		:root, html {
			/* font-size: 26px; // at 1em = 16px */
			font-size: 1.625em;
		}
	}
	/* Tablets & large screen phones in portrait orientation */
	body {
		/* background-color: magenta; */
		background-color: unset;
		--line-height: 1.5rem;
		--table-bottom-margin: 1rem;
		--page-margin-top: 1.9rem;
		--page-margin-left: 0.2rem;
		--page-margin-right: 0rem; /* use max device width */
		--align-guide-width: 1.5vw;
	}
	#experience {
		&> h3 + p code {
			/* As far right as possible in the div */
			right: 0vw;
			left: unset;
		}
		/* Avoid trying to right-align by guide-width... screen too small */
		& h2, h3, h4 {
			text-align: left;
			width: unset;
		}
	}
 }

/* tablet landscape */
@media only screen and (min-width: 900px) and (orientation:landscape) {
	/* Tablets in landscape orientation */
	body {
		background-color: rgb(255, 184, 60);
		--line-height: 1.5rem;
		--table-bottom-margin: 1rem;
		--page-margin-top: 1.5rem;
		--page-margin-left: 1.5rem;
		--page-margin-right: 0rem; /* use max device width */
		--align-guide-width: 1vw;
	}
	#experience {
		&> h3 + p code {
			/* As far right as possible in the div */
			right: 0vw;
			left: unset;
		}
	}
}
/* desktop */
@media only screen and (min-width: 1200px) {
	body {
		background-color: moccasin;
		--line-height: 1.5rem;
		--table-bottom-margin: 1rem;
		--page-margin-top: 2rem;
		--page-margin-left: 2rem;
		--page-margin-right: 2rem;
		--align-guide-width: 25vw;
	}
 }

/* large desktop */
@media only screen and (min-width: 1800px) {
	body {
		/* background-color: rgb(136, 201, 177); */
		background-color: unset;
		--line-height: 2rem;
		--table-bottom-margin: 1.5rem;
		--align-guide-width: 25vw;
	}
 }

/*

@media only screen and (max-width: 480px) {

 }

@media only screen and (max-width: 960px) {

} */
/* 
@media only screen and (max-width: 800px) {

} */

/* @media only screen and (min-width: 1440px) {
	/* styles for browsers larger than 1440px; 
}
@media only screen and (min-width: 2000px) {
	/* for sumo sized (mac) screens 
} */

/* 
@media only screen and (max-width: 768px) {
   /* default iPad 
} */
/* different techniques for iPad screening */
/* @media only screen and (min-width: 481px) and (max-width: 1024px) and (orientation:portrait) {
  /* iPad portrait layout
}

@media only screen and (min-width: 481px) and (max-width: 1024px) and (orientation:landscape) {
  /* iPad landscape layout
} */


@media screen and (prefers-contrast: more),
       screen and (prefers-contrast: more) and (forced-colors: active) {
	/* The foreground:background contrast-ratio should be >= 7:1 */
	/* References:
	*    - https://github.com/MicrosoftEdge/MSEdgeExplainers/blob/25672185a29b8fdefab70996242ad03d6c5f4ef0/Accessibility/PrefersContrast/explainer.md
	*    - https://github.com/MicrosoftEdge/MSEdgeExplainers/blob/25672185a29b8fdefab70996242ad03d6c5f4ef0/Accessibility/HighContrast/explainer.md
	*    - https://www.w3.org/WAI/GL/wiki/Contrast_ratio
	*    - https://webaim.org/resources/contrastchecker/
	*/
	@media (forced-colors: none) and (prefers-color-scheme: dark),
	       (-ms-high-contrast: active) and (prefers-color-scheme: dark),
		   (-ms-high-contrast: white-on-black) {
		html {
			color: #ffffff; /* contrast-ratio: 17.59:1 */
			background-color: #141a1b;
		}
		code {
			color: #ddd; /* contrast-ratio: 12.95:1 */
		}
		#header {
			#webaddress {
				color: #32c3a6; /* contrast-ratio: 7.95:1 */
			}
			#webaddress td {
				border-left-color: #ffffff; /* contrast-ratio: 17.59:1 */
			}
		}
	}
	@media (forced-colors: none) and (prefers-color-scheme: light),
	       (-ms-high-contrast: active) and (prefers-color-scheme: light),
		   (-ms-high-contrast: black-on-white) {
		html {
			color: #141a1b; /* contrast ratio: 17.59:1 */
			background-color: #fff;
		}
		code {
			color: #222; /* contrast ratio: 15.9:1 */
		}
		#header {
			#webaddress {
				/* color: #0c6453; contrast ratio: 7.08:1 */
				color: #0b5b4d; /* contrast ration: 8.02:1 */
			}
			#webaddress td {
				border-left-color: #141a1b; /* contrast-ratio: 17.59:1 */
			}
		}
	}
}

@media screen and (prefers-contrast: less),
       screen and (prefers-contrast: less) and (forced-colors: active) {
	/* TODO: Add styles for less contrast mode */
	/* @media (prefers-color-scheme: dark) {} */
	@media (prefers-color-scheme: light) {
		code {
			color: #AAA;
		}
	}
}

@media screen and (prefers-contrast: no-preference) and (forced-colors: none) {
	@media (prefers-color-scheme: dark) {
		html {
			color: #d6d6d6; /* contrast-ratio: 9.92:1 */
			background-color: #282a2b;
		}
		code {
			color: #918f8e; /* contrast-ratio: 4.47:1 */
		}
		#header {
			#webaddress {
				color: #2eb398; /* contrast-ratio: 5.5:1 */
			}
			#webaddress td {
				border-left-color: #d6d6d6; /* contrast-ratio: 9.92:1 */
			}
		}
	}
	@media (prefers-color-scheme: light) {
		code {
			color: #777;
		}
		#skills {
			h2 {
				color: #445b1f;
			}
		}
		#header {
			#webaddress {
				color: #09765e;
			}
		}
	}
}

@media screen and (prefers-reduced-motion: reduce) {
	* {
		/* Very short durations means JavaScript that relies on events still works */
		animation-duration: 0.001ms !important;
		animation-iteration-count: 1 !important;
		transition-duration: 0.001ms !important;
	}
}

