/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1rem;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* end of reset */

/* Heavily modified, but originally based on Dave Whipp's CV style
   Original Source: media/davewhipp-screen.css
   License: MIT
*/

html body {
	--default-font-size: 1rem; /* default element font size = base */
	--line-height: calc(1.5 * var(--default-font-size));
	--heading-line-height: calc(2 * var(--default-font-size));
	--heading-font-size-h1: calc(3 * var(--default-font-size));
	--heading-font-size-h2: calc(1.1 * var(--default-font-size));
	--heading-font-size-h3: var(--default-font-size);
	--heading-font-size-h4: var(--default-font-size);
	--table-bottom-margin: var(--default-font-size);
	--page-margin-top: calc(1.5 * var(--default-font-size));
	--page-margin-left: var(--default-font-size);
	--page-margin-right: var(--default-font-size);
	--table-td-padding-top: calc(0.5 * var(--default-font-size));
	--table-td-padding-bottom: calc(0.5 * var(--default-font-size));

	/* Alignment guide for main centered content */
	--align-guide-main-width: calc(100vw - 2 * var(--align-guide-width) - var(--page-margin-left) - var(--page-margin-right));

	font-style: normal;
	font-variant-caps: normal;
	font-weight: 400;

	line-height: var(--line-height);
	font-size-adjust: none;
	font-size: var(--default-font-size);

	/*also written as...  font: normal normal 400 100%/1rem;*/
	font-family: Avenir,Verdana,sans-serif;
	margin-top: var(--page-margin-top);
	margin-left: var(--page-margin-left);
	margin-right: var(--page-margin-right);
}

p {
	position: relative;
	margin-bottom: 0.7rem;
}

code {
	font-family: Monaco,Menlo,monospace,sans-serif;
	color: #aaa;
}

p code {
	position: absolute;
	text-align: right;
}


ul {
	position: relative;
	margin-bottom: 1.5rem;
	margin-top: 0.5rem;
}

/*uncomment to get dashes in the list*/
/*li:before {
	content: "-";
	position: relative;
	left: -0.25rem;
}*/

li {
	/* second line indent */
	padding-left: 1.25rem;
	text-indent: -1.25rem;
}

li ul {
	position: relative;
	margin-top: 0.25rem;
}

h1,h2,h3,h4 {
	font-weight: 400;
	font-family: Avenir,Cousine,Verdana,sans-serif;
}

h1 {
	text-align: left;
	font-size: var(--heading-font-size-h1);
	line-height: var(--heading-font-size-h1);
	position: relative;
}

h1+p {
	/* subtitle */
	font-style: italic;
	font-size: 110%;
}

h2 {
	font-size: var(--heading-font-size-h2);
	line-height: var(--heading-font-size-h2);
	color: var(--h2-color);
	margin-top: calc(0.5 * var(--heading-font-size-h2));
	margin-bottom: calc(0.5 * var(--heading-font-size-h2));
}

h3 {
	font-size: var(--heading-font-size-h3);
	line-height: var(--heading-line-height);
	position: relative;
}

a {
	color: inherit;
}

a:hover {
	color: var(--link-highlight-color);
}

a:focus-visible {
	outline-style: dotted;
	outline-width: 2px;
	outline-color: var(--link-highlight-color);
	outline-offset: calc(0.5 * var(--table-td-padding-top));
	border-radius: calc(0.5 * var(--table-td-padding-top));
}
@supports not selector(:focus-visible) {
	a:focus {
		outline-style: dotted;
		outline-width: 2px;
		outline-color: var(--link-highlight-color);
		outline-offset: calc(0.5 * var(--table-td-padding-top));
		border-radius: calc(0.5 * var(--table-td-padding-top));
	}
}

/* Flexbox layout */
#cv {
	--gap: 0rem;
	--line-offset: calc(var(--gap) / 2);
	--line-thickness: 2px;
	--line-color: #444;

	display: flex;
	gap: var(--gap);
	flex-flow: column nowrap;
}

#cv > div {
	position: relative;
}

/* Header flexbox layout */
#header {
	--gap: 0rem;
	--line-offset: calc(var(--gap) / 2);
	--line-thickness: 2px;
	--line-color: #444;

	display: flex;
	gap: var(--gap);
	flex-flow: column nowrap;
	align-items: center;
	justify-content: center;

	h1, h2, h3 {
		text-align: center;
	}

	hr {
		width: var(--align-guide-main-width);
	}

	#webaddress {
		margin-top: 1rem;
		text-align: center;
		font-family: Monaco,Menlo,monospace,sans-serif;
	}
	
	#webaddress a {
		text-decoration: none;
	}
	
	#webaddress table {
		border-collapse: collapse;
		empty-cells: hide;
		box-sizing: content-box;
		& th {
			display: none;
			line-height: 0;	
		}
	}

	#webaddress td {
		padding-left: var(--default-font-size);
		padding-right: var(--default-font-size);
		border-left: 0.0625rem solid black;
		text-wrap: balance;
		font-weight: 800;
	}
	
	#webaddress table tr td:first-child,
	#webaddress table tr th:first-child {
		border-left: 0;
	}
	#webaddress table tr td:last-child,
	#webaddress table tr th:last-child {
		border-right: 0;
	}
	
}

/* Flexbox layout */
#skills {
	--gap: 0rem;
	--line-offset: calc(var(--gap) / 2);
	--line-thickness: 2px;
	--line-color: #444;

	display: flex;
	gap: var(--gap);
	flex-flow: column nowrap;

	&>:not(h1, h2, h3) {
		position: relative;
		left: var(--align-guide-width);
	}

	h1, h2, h3 {
		text-align: center;
	}

	h2, h3 {
		position: relative;
		font-weight: 700;
	}
	h2 {
		/* TODO: Setup print CSS */
		line-height: var(--heading-line-height);
		font-size: var(--heading-font-size-h2);
		color: var(--skills-h2-color);
		margin-top: var(--line-height);
		margin-bottom: unset;
		width: unset;
	}
	table {
		margin-top: var(--line-height);
		width: var(--align-guide-main-width);
		empty-cells: hide;
		& th {
			display: none;
			line-height: 0;	
		}
	}
	table > tbody > tr {
		border-bottom: 0.0625rem groove #444; /* TODO: Remove this */
		td {
			padding-top: var(--table-td-padding-top);
			padding-bottom: var(--line-height); /* Incrased spacing from usual --table-td-padding-bottom */
			vertical-align: bottom;
		}

		/* Fit first column to content + R pad & valign top */
		& td:first-child {
			min-width: max-content;
			padding-right: 1rem;
			vertical-align: top;
		}
	}
}

#skills > * {
	position: relative;
}

#skills > p {
	width: var(--align-guide-main-width);
	margin-left: unset;
	margin-top: var(--line-height);
	text-align: justify;
}

em {
	font-style: italic;
}

strong {
	font-weight: bold;
}

#address {
	display: none;
}

#experience {
	h2 {
		font-size: var(--heading-font-size-h2);
		color: var(--h2-color);
		text-align: right;
		width: var(--align-guide-width);
	}

	h3 {
		font-size: var(--heading-font-size-h3);
		line-height: var(--heading-line-height);
		position: relative;
		text-align: right;
		width: var(--align-guide-width);
		min-width: max-content;
	}

	&> h3 + p code {
		position: absolute;
		text-align: right;
		left: calc(var(--align-guide-main-width));
		top: calc(-1 * var(--heading-line-height));
		min-width: max-content;
		line-height: var(--heading-line-height);
		font-size: var(--heading-font-size-h3);
	}

	h4 {
		text-align: right;
    	width: var(--align-guide-width);
		min-width: max-content;
		font-size: var(--heading-font-size-h4);
		line-height: var(--heading-font-size-h4);
		margin-bottom: var(--heading-font-size-h4);
		font-weight: 800;
	}

	& > p, & > ol, & > ul {
		left: var(--align-guide-width);
		width: var(--align-guide-main-width);
	}
}

#school {

	& > table {
		width: 100%;
		text-align: center;
		border-collapse: collapse;
		empty-cells: hide;
		box-sizing: content-box;
		& th {
			display: none;
			line-height: 0;
		}
	}

	/* Flexbox layout for tables using tr as flex container */
	& > table tr {
		display: inline-flex;
		flex-flow: row wrap;
		align-items: center;
		justify-content: space-between;

		min-width: fit-content;
		max-width: max-content;
	}

	& > table tr td {
		padding-left: var(--default-font-size);
		padding-right: var(--default-font-size);
		text-wrap: balance;
		font-weight: 800;
		text-align: center;

		flex-grow: 1;
		flex-shrink: 1;
		flex-basis: fit-content;
	}

	& > table tr td + td {
		border-left: solid 1px var(--fg-color);
	}
}

#open-source {
	& > h3 {
		color: var(--oss-h3-color);
		font-weight: bolder;
	}
}

/* watches & LCDs */
/* Reference: https://yesviz.com/devices/apple-watch-series-6-44mm/ */
@media only screen and (max-width: 224px) {
		/* Apple Watch series 6 and smaller (224px x 184px) */
		body {
			/* background-color: gray; */
			--line-height: var(--default-font-size);
			--table-bottom-margin: var(--default-font-size);
			--page-margin-top: calc(1 * var(--default-font-size));
			--page-margin-left: 0;
			--page-margin-right: 0;
			--align-guide-width: 0vw;
			--heading-font-size-h1: calc(2 * var(--default-font-size));
		}

		#header {
			& #webaddress td {
				padding-left: 1rem;
				padding-right: 1rem;
				border-left: none;
				border-right: none;
				padding-top:  var(--table-td-padding-top);
				padding-bottom:  var(--table-td-padding-bottom);
				border-bottom: 0.0625rem solid black;
				text-wrap: balance;
				display: flex;
				justify-content: center;
				align-items: center;
				flex-flow: row wrap;
			}

			& #webaddress table tr td:first-child,
			& #webaddress table tr th:first-child {
				border-top: none;
			}

			& #webaddress table tr td:last-child,
			& #webaddress table tr th:last-child {
				border-top: none;
				border-bottom: none;
			}
		}

		#skills {
			& table {
				margin-bottom: var(--table-bottom-margin);
			}
			& td {
				padding-left: 1rem;
				padding-right: 1rem;
				border-left: none;
				border-right: none;
				padding-top:  var(--table-td-padding-top);
				padding-bottom:  var(--table-td-padding-bottom);
				text-wrap: balance;
				display: flex;
				justify-content: center;
				align-items: center;
				flex-flow: row wrap;
			}
			& table tr td:first-child,
			& table tr th:first-child {
				border-top: none;
			}

			& table tr td:last-child,
			& table tr th:last-child {
				border-top: none;
				border-bottom: none;
			}
		}
		#experience {
			& h2, & h3, & h4 {
				text-align: left;
				min-width: fit-content;
			}

			&> h3 + p code {
				position: relative;
				text-align: right;
				left: unset;
				top: unset;
				right: 0;
			}
		}
}

/* max-width: 106px @ 1rem = 16px */
@media only screen and (max-width: 6.625rem) {
	/* Wrap anywhere for extra small displays */
	#header {
		& h1 {
			min-width: fit-content;
			overflow-wrap: anywhere;
		}
		& #webaddress td {
			overflow-wrap: anywhere;
		}
	}
	#skills {
		/* Wrap skills h2 text anywhere */
		& h2 {
			min-width: fit-content;
			overflow-wrap: anywhere;
		}
		/* Wrap skills table text anywhere */
		& table tr td {
			overflow-wrap: anywhere;
			min-width: fit-content;
		}
		& table > tbody > tr {
			& td:first-child {
				min-width: min-content;
			}
		}
	}
}
/* max-width: 192px @ 1rem = 16px */
@media only screen and (min-width: 6.626rem) and (max-width: 12rem) {
	/* Wrap webaddress table text anywhere */
	#header {
		& #webaddress td {
			overflow-wrap: anywhere;
		}
	}
	/* Wrap skills table text anywhere */
	#skills {
		/* Wrap skills table text anywhere */
		& table tr td {
			overflow-wrap: anywhere;
			min-width: fit-content;
		}
		& table > tbody > tr {
			& td:first-child {
				min-width: min-content;
			}
		}
	}
}

/* phones */

@media only screen and (min-width: 225px) and (max-width: 375px) {
	/* iPhone 5/5SE and smaller */
	body {
		background-color: blue;
		--line-height: var(--default-font-size);
		--table-bottom-margin: calc(0.75 * var(--default-font-size));
		--page-margin-top: calc(1.5 * var(--default-font-size));
		--page-margin-left: 0;
		--page-margin-right: 0;
		--align-guide-width: 0vw;
	}

	/* Override Flexbox layout for table fit on small screen */
	#header {
		& #webaddress td {
			padding-left: 1rem;
			padding-right: 1rem;
			border-left: none;
			border-right: none;
			padding-top:  var(--table-td-padding-top);
			padding-bottom:  var(--table-td-padding-bottom);
			border-bottom: 0.0625rem solid black;
			text-wrap: balance;
			display: flex;
			justify-content: center;
			align-items: center;
			flex-flow: row wrap;
		}

		& #webaddress table tr td:first-child,
		& #webaddress table tr th:first-child {
			border-top: none;
		}

		& #webaddress table tr td:last-child,
		& #webaddress table tr th:last-child {
			border-top: none;
			border-bottom: none;
		}
	}

	#skills {
		& table {
			margin-bottom: var(--table-bottom-margin);
		}
		& td {
			padding-left: 1rem;
			padding-right: 1rem;
			border-left: none;
			border-right: none;
			padding-top:  var(--table-td-padding-top);
			padding-bottom:  var(--table-td-padding-bottom);
			text-wrap: balance;
			display: flex;
			justify-content: center;
			align-items: center;
			flex-flow: row wrap;
		}
		& table tr td:first-child,
		& table tr th:first-child {
			border-top: none;
		}

		& table tr td:last-child,
		& table tr th:last-child {
			border-top: none;
			border-bottom: none;
		}
	}
	#experience {
		&> h3 + p code {
			position: relative;
			text-align: right;
			left: unset;
			top: unset;
			right: 0;
		}
	}
}

/* max-width: ~284.4px @ 1rem = 16px */
@media only screen and (max-width: 17.775rem) {
	/* Reflow experience workplace headers to fit content */
	#experience {
		& h3 {
			text-align: left;
			min-width: fit-content;
		}
	}
}

@media only screen and (min-width: 376px) and (max-width: 599px) {
	/* mobile browsers < 600px; (iPhone) */
	:root {
		font-size: clamp(1em, 3vw, 2.5em);
	}
	body {
		background-color: pink;
		--line-height: 1rem;
		--table-bottom-margin: 0.75rem;
		--page-margin-top: 1.5rem;
		--page-margin-left: 1rem;
		--page-margin-right: 1rem;
		--align-guide-width: 5vw;
	}
	/* Avoid trying to right-align by guide-width... screen too small */
	#experience {
		& h2, h3 {
			text-align: left;
			width: unset;
		}
		&> h3 + p code {
			position: relative;
			text-align: right;
			left: unset;
			top: unset;
			right: 0;
		}
	}
	/* Override Flexbox layout for table fit on small screen */
	#header {
		& #webaddress td {
			padding-left: 1rem;
			padding-right: 1rem;
			border-left: none;
			border-right: none;
			padding-top:  var(--table-td-padding-top);
			padding-bottom:  var(--table-td-padding-bottom);
			border-bottom: 0.0625rem solid black;
			text-wrap: balance;
			display: flex;
			justify-content: center;
			align-items: center;
			flex-flow: row wrap;
		}

		& #webaddress table tr td:first-child,
		& #webaddress table tr th:first-child {
			border-top: none;
		}

		& #webaddress table tr td:last-child,
		& #webaddress table tr th:last-child {
			border-top: none;
			border-bottom: none;
		}
	}
 }

/* tablet defaults */
@media only screen and (min-width: 600px) and (max-width: 1199px) {
	/* Tablets or legacy VGA defaults */
	body {
		/* background-color: whitesmoke; */
		--line-height: 1.5rem;
		/* use more device width */
		--align-guide-width: 1vw;
	}
	#experience {
		&> h3 + p code {
			/* As far right as possible in the div */
			right: 0vw;
			left: unset;
		}
		/* Avoid trying to right-align by guide-width... screen too small */
		& h2, h3, h4 {
			text-align: left;
			width: unset;
		}
	}
}

/* Reflow inline-flex as columns for portrait tablets and below ~55.7rem viewport width */
/* breakpoint was when tablet defaults kicked in above */
/* max-width: 55.6875rem = ~891px @ 1rem = 16px */
/* max-width: 74.9375rem = ~1199px @ 1rem = 16px */
/* max-width: 70.25rem = ~1124px @ 1rem = 16px */
@media screen and (max-width: 55.6875rem),
       screen and (max-width: 74.9375rem) and (orientation: portrait),
       screen and (max-width: 70.25rem) and (orientation: landscape) {
	#school {
		/* Flexbox column layout for tables (tr as flex container) */
		& > table tr {
			flex-direction: column;
		}

		& > table tr td {
			padding-left: none;
			padding-right: none;
			padding-top: var(--default-font-size);
			padding-bottom: var(--default-font-size);
			align-self: stretch;
		}

		& > table tr td + td {
			border-left: none;
			border-top: solid 1px var(--fg-color);
		}
	}
}

/* tablet portrait */
@media only screen and (min-width: 600px) and (orientation:portrait) {
	:root {
		font-size: clamp(1em, 2vw, 2.5em);
	}
	/* Tablets & large screen phones in portrait orientation */
	body {
		--line-height: calc(1.5 * var(--default-font-size));
		--page-margin-top: calc(1.9 * var(--default-font-size));
		--page-margin-left: 0.2rem;
		--page-margin-right: 0rem; /* use max device width */
		--align-guide-width: 1.5vw;
	}
	#experience {
		&> h3 + p code {
			/* As far right as possible in the div */
			right: 0vw;
			left: unset;
		}
		/* Avoid trying to right-align by guide-width... screen too small */
		& h2, h3, h4 {
			text-align: left;
			width: unset;
		}
	}
 }

/* tablet landscape */
@media only screen and (min-width: 900px) and (orientation:landscape) {
	/* Tablets in landscape orientation */
	body {
		background-color: rgb(255, 184, 60);
		--line-height: calc(1.5 * var(--default-font-size));
		/* use more device width */
		--page-margin-left: calc(0.75 * var(--default-font-size));
		--page-margin-right: calc(0.75 * var(--default-font-size));
		--align-guide-width: 1vw;
	}
	#experience {
		&> h3 + p code {
			/* As far right as possible in the div */
			right: 0vw;
			left: unset;
		}
	}
}
/* desktop */
@media only screen and (min-width: 1200px) {
	:root {
		font-size: clamp(1em, 1.2vw, 2.5em);
	}
	body {
		background-color: moccasin;
		--default-font-size: 1.35rem;
		--align-guide-width: 25vw;
	}
 }

/* large desktop */
@media only screen and (min-width: 1800px) {
	body {
		--align-guide-width: 25vw;
	}
 }

@media screen and (prefers-contrast: more),
       screen and (prefers-contrast: more) and (forced-colors: active) {
	/* The foreground:background contrast-ratio should be >= 7:1 */
	/* References:
	*    - https://github.com/MicrosoftEdge/MSEdgeExplainers/blob/25672185a29b8fdefab70996242ad03d6c5f4ef0/Accessibility/PrefersContrast/explainer.md
	*    - https://github.com/MicrosoftEdge/MSEdgeExplainers/blob/25672185a29b8fdefab70996242ad03d6c5f4ef0/Accessibility/HighContrast/explainer.md
	*    - https://www.w3.org/WAI/GL/wiki/Contrast_ratio
	*    - https://webaim.org/resources/contrastchecker/
	*/
	@media (forced-colors: none) and (prefers-color-scheme: dark),
	       (-ms-high-contrast: active) and (prefers-color-scheme: dark),
		   (-ms-high-contrast: white-on-black) {
		::selection {
			color: #000000; /* contrast-ratio: 12.13:1 */
			background: #93d1c1;
		}
		html {
			--fg-color: #ffffff; /* contrast-ratio: 17.59:1 */
			--bg-color: #141a1b;
			--link-highlight-color: #84d9ff; /* contrast-ratio: 11.18:1 */
			--h2-color: #fe8686; /* contrast-ratio: 7.51:1 */
			--code-color: #b0b0b0; /* contrast-ratio: 8.11:1 */
			--webaddress-link-color: #32c3a6; /* contrast-ratio: 7.95:1 */
			--skills-h2-color: #9fca56; /* contrast-ratio: 9.26:1 */
			--date-color: #ddd; /* contrast-ratio: 12.95:1 */
			--oss-h3-color: #63d35f; /* contrast-ratio: 9.22:1 */
			color: var(--fg-color);
			background-color: var(--bg-color);
		}
		a:hover {
			font-weight: bolder;
		}
		code {
			color: var(--code-color);
		}
		#header {
			#webaddress {
				color: var(--webaddress-link-color);
			}
			#webaddress td {
				border-left-color: var(--fg-color); /* contrast-ratio: 17.59:1 */
			}
		}
		#experience {
			&> h3 + p code {
				color: var(--date-color);
			}
		}
	}
	@media (forced-colors: none) and (prefers-color-scheme: light),
	       (-ms-high-contrast: active) and (prefers-color-scheme: light),
		   (-ms-high-contrast: black-on-white) {
		::selection {
			color: #93d1c1; /* contrast-ratio: 12.13:1 */
			background: #000000;
		}
		html {
			--fg-color: #000000; /* contrast-ratio: 21:1 */
			--bg-color: #ffffff;
			--link-highlight-color: #005c8a; /* contrast-ratio: 7.24:1 */
			--h2-color: #86181d; /* contrast-ratio: 9.71:1 */
			--code-color: #545454; /* contrast-ratio: 7.57:1 */
			--webaddress-link-color: #044e42; /* contrast-ratio: 9.66:1 */
			--skills-h2-color: #264200; /* contrast-ratio: 11.28:1 */
			--date-color: #222; /* contrast-ratio: 15.9:1 */
			--oss-h3-color: #245f21; /* contrast-ratio: 7.68:1 */
			color: var(--fg-color);
			background-color: var(--bg-color);
		}
		a:hover {
			font-weight: bolder;
		}
		code {
			color: var(--code-color);
		}
		#skills {
			h2 {
				color: var(--skills-h2-color);
			}
		}
		#header {
			#webaddress {
				/* color: #0c6453; contrast ratio: 7.08:1 */
				color: var(--webaddress-link-color);
			}
			#webaddress td {
				border-left-color: var(--fg-color); /* contrast-ratio: 17.59:1 */
			}
		}
		#experience {
			&> h3 + p code {
				color: var(--date-color);
			}
		}
	}
}

@media screen and (prefers-contrast: custom),
       screen and (prefers-contrast: custom) and (forced-colors: active) {
	@media (prefers-color-scheme: dark) {
		::selection {
			color: #93d1c1; /* contrast-ratio: 12.13:1 */
			background-color: #000000;
		}
		html {
			--fg-color: #d6d6d6; /* contrast-ratio: 12.1:1 */
			--bg-color: #141a1b;
			--link-highlight-color: #43a5d5; /* contrast-ratio: 6.35:1 */
			--h2-color: #d4595f; /* contrast-ratio: 4.51:1 */
			--code-color: #a3a3a3; /* contrast ratio: 6.97:1 */
			--webaddress-link-color: #2eb398; /* contrast-ratio: 6.71:1 */
			--skills-h2-color: #9fca56; /* contrast-ratio: 9.26:1 */
			--date-color: #a6a6a6; /* contrast-ratio: 7.22:1 */
			--oss-h3-color: #3da639; /* contrast-ratio: 5.62:1 */
			color: var(--fg-color);
			background-color: var(--bg-color);
			--shadow-color: 199.73deg 63.48% 10%;
		}
		a:hover {
			text-decoration-line: underline overline;
			text-decoration-style: solid;
			text-decoration-color: var(--link-highlight-color);
			text-decoration-skip-ink: all;
			text-decoration-thickness: calc((1/16) * var(--default-font-size) / 11);
			filter: var(--shadow-elevation-low);
		}
		code {
			color: var(--code-color);
		}
		#skills {
			h2 {
				color: var(--skills-h2-color);
			}
		}
		#header {
			#webaddress {
				color: var(--webaddress-link-color);
			}
			#webaddress td {
				border-left-color: var(--fg-color); /* contrast-ratio: 9.92:1 */
			}
		}
		#experience {
			&> h3 + p code {
				color: var(--date-color);
			}
		}
	}

	@media (prefers-color-scheme: light) {
		::selection {
			color: #93d1c1; /* contrast-ratio: 12.13:1 */
			background: #000000;
		}
		html {
			--fg-color: #0b0e0f; /* contrast-ratio: 19.37:1 */
			--bg-color: #ffffff;
			--link-highlight-color: #005c8a; /* contrast-ratio: 7.24:1 */
			--h2-color: #9e292f; /* contrast-ratio: 7.46:1 */
			--code-color: #5e5e5e; /* contrast-ratio: 6.48:1 */
			--webaddress-link-color: #0b5b4d; /* contrast-ratio: 8.02:1 */
			--skills-h2-color: #3c6006; /* contrast-ratio: 7.32:1 */
			--date-color: #4f4f4f; /* contrast-ratio: 8.19:1 */
			--oss-h3-color: #2c7628; /* contrast-ratio: 5.63:1 */
			color: var(--fg-color); /* contrast-ratio: 17.59:1 */
			background-color: var(--bg-color);
		}
		a:hover {
			font-weight: bolder;
		}
		code {
			color: var(--code-color);
		}
		#skills {
			h2 {
				color: var(--skills-h2-color);
			}
		}
		#header {
			#webaddress {
				/* color: #0c6453; contrast ratio: 7.08:1 */
				color: var(--webaddress-link-color);
			}
			#webaddress td {
				border-left-color: var(--fg-color);
			}
		}
		#experience {
			&> h3 + p code {
				color: var(--date-color);
			}
		}
	}
}

@media screen and (prefers-contrast: no-preference) and (forced-colors: none) {
	/* Only use drop-shadow when contrast accessibility mode is off */
	/* References:
	     - https://www.joshwcomeau.com/css/designing-shadows/
	     - https://www.joshwcomeau.com/shadow-palette/

	   Note: omitted the 4th value, as it's only valid for box-shadow, not
	   drop-shadow filter
	*/
	html {
		--shadow-elevation-low:
		drop-shadow(0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.34))
		drop-shadow(0.4px 0.8px 1px hsl(var(--shadow-color) / 0.34))
		drop-shadow(1px 2px 2.5px hsl(var(--shadow-color) / 0.34));
	  --shadow-elevation-medium:
		drop-shadow(0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.36))
		drop-shadow(0.8px 1.6px 2px hsl(var(--shadow-color) / 0.36))
		drop-shadow(2.1px 4.1px 5.2px hsl(var(--shadow-color) / 0.36))
		drop-shadow(5px 10px 12.6px hsl(var(--shadow-color) / 0.36));
	  --shadow-elevation-high:
		drop-shadow(0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.34))
		drop-shadow(1.5px 2.9px 3.7px hsl(var(--shadow-color) / 0.34))
		drop-shadow(2.7px 5.4px 6.8px hsl(var(--shadow-color) / 0.34))
		drop-shadow(4.5px 8.9px 11.2px hsl(var(--shadow-color) / 0.34))
		drop-shadow(7.1px 14.3px 18px hsl(var(--shadow-color) / 0.34))
		drop-shadow(11.2px 22.3px 28.1px hsl(var(--shadow-color) / 0.34))
		drop-shadow(17px 33.9px 42.7px hsl(var(--shadow-color) / 0.34))
		drop-shadow(25px 50px 62.9px hsl(var(--shadow-color) / 0.34));
	}

	@media (prefers-color-scheme: dark) {
		::selection {
			color: #93d1c1; /* contrast-ratio: 12.13:1 */
			background-color: #000000;
			text-shadow: 0.3px 0.5px 0.7px hsl(167.82, 59.11%, 18.12%),
			             0.4px 0.8px 1px hsl(167.82, 59.11%, 18.12%),
						   1px 2px 2.5px hsl(167.82 59.11% 18.12% / 0.34),
						   -1px -1px 1.1vw #000000,
						   1px 1px 1.1vw #000000,
						   -4px -5px 8px hsl(167.82deg, 17%, 24.8%),
						   6px 6px 5px hsl(167.82deg, 20%, 18.8%);
		}
		html {
			--fg-color: #d6d6d6; /* contrast-ratio: 9.92:1 */
			--bg-color: #282a2b;
			--link-highlight-color: #43a5d5; /* contrast-ratio: 5.2:1 */
			--h2-color: #d4595f; /* contrast-ratio: 4.51:1 */
			--code-color: #9a9898; /* contrast-ratio: 5.02:1 */
			--webaddress-link-color: #2eb398; /* contrast-ratio: 5.5:1 */
			--skills-h2-color: #9fca56; /* contrast-ratio: 7.59:1 */
			--date-color: #918f8e; /* contrast-ratio: 4.47:1 */
			--oss-h3-color: #3ea638; /* contrast-ratio: 4.61:1 (increased further by drop-shadow filter below) */
			color: var(--fg-color);
			background-color: var(--bg-color);
			--shadow-color: 199.73deg 63.48% 10%;
		}
		a:hover {
			text-decoration-line: underline overline;
			text-decoration-style: solid;
			text-decoration-color: var(--link-highlight-color);
			text-decoration-skip-ink: all;
			text-decoration-thickness: calc((1/16) * var(--default-font-size) / 11);
			filter: var(--shadow-elevation-low);
		}
		code {
			color: var(--code-color);
		}
		h2 {
			/* Subtle shadow layers with enough contrast between h2 color:dark-color (contrast-ratio: 5.39:1) */
			/* Subtle contrast from shadow-*:bg-color and others */
			--shadow-outline-color: 358.22 59.76% 50%; /* #cc3338 bg contrast-ratio: 2.81:1,
															shadow-color contrast-ratio: 3.13:1,
															dark-color contrast-ratio: 4.09:1 */
			--shadow-color: 358.22 59.76% 16%; /* #411012 bg contrast-ratio: 1.11:1 */
			--shadow-dark-color: 358.22 59.76% 0%; /* #000000 bg contrast-ratio: 1.45:1 */
			--shadow-elevation-low:
				drop-shadow(0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.34))
				drop-shadow(0.4px 0.8px 1px hsl(var(--shadow-color) / 0.34))
				drop-shadow(1px 2px 2.5px hsl(var(--shadow-color) / 0.34));
			text-shadow: -0.05px -0.3px 0.7px hsl(var(--shadow-outline-color)),
							0.3px 0.5px 0.7px hsl(var(--shadow-color)),
							0.4px 0.8px 1px hsl(var(--shadow-dark-color));
			filter: var(--shadow-elevation-low);
		}
		#skills {
			h2 {
				/* Subtle shadow layers with enough contrast between skills-h2-color:outline & outline:dark-color */
				/* Subtle contrast from shadow-*:bg-color */
				color: var(--skills-h2-color); /* #9fca56 outline contrast-ratio: 6.09:1 */
				--shadow-outline-color: 82.24 52.25% 16%;  /* #2e3e13 bg contrast-ratio: 1.24:1,
																	  shadow-color contrast-ratio: 1.39:1,
																	  dark-color contrast-ratio: 1.81:1 */
				--shadow-color: 82.24 52.25% 22%; /* #40551b bg contrast-ratio: 1.73:1 */
				--shadow-dark-color: 82.24 52.25% 0%; /* #000000 bg contrast-ratio: 1.45:1 */
				--shadow-elevation-low:
					drop-shadow(0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.34))
					drop-shadow(0.4px 0.8px 1px hsl(var(--shadow-color) / 0.34))
					drop-shadow(1px 2px 2.5px hsl(var(--shadow-color) / 0.34));
				text-shadow: -0.05px -0.3px 0.7px hsl(var(--shadow-outline-color)),
								0.3px 0.5px 0.7px hsl(var(--shadow-color)),
								0.4px 0.8px 1px hsl(var(--shadow-dark-color));
				filter: var(--shadow-elevation-low);
			}
		}
		#header {
			#webaddress {
				color: var(--webaddress-link-color);
			}
			#webaddress td {
				border-left-color: var(--fg-color); /* contrast-ratio: 9.92:1 */
			}
		}
		#experience {
			&> h3 + p code {
				color: var(--date-color);
			}
		}
		#open-source {
			& > h3 {
				/* Subtle shadow layers with enough contrast between outline:dark-color */
				/* Subtle contrast from shadow-*:bg-color */
				--shadow-outline-color: 119 48% 50%; /* #44bd42 bg contrast-ratio: 5.9:1,
																shadow-color contrast-ratio: 5.08:1,
																dark-color contrast-ratio: 8.6:1 */
				--shadow-color: 119 48% 16%; /* #163c15 bg contrast-ratio: 1.16:1 */
				--shadow-dark-color: 119 48% 0%; /* #000000 bg contrast-ratio: 1.45:1 */
				--shadow-elevation-low:
				  drop-shadow(0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.34))
				  drop-shadow(0.4px 0.8px 1px hsl(var(--shadow-color) / 0.34))
				  drop-shadow(1px 2px 2.5px hsl(var(--shadow-color) / 0.34));
				text-shadow: -0.05px -0.3px 0.7px hsl(var(--shadow-outline-color)),
				             0.3px 0.5px 0.7px hsl(var(--shadow-color)),
				             0.4px 0.8px 1px hsl(var(--shadow-dark-color));
				filter: var(--shadow-elevation-low);
			}
		}
	}
	@media (prefers-color-scheme: light) {
		::selection {
			color: #000000; /* contrast-ratio: 12.13:1 */
			background: #93d1c1;
			/* Note: used luminance trick with base color: #0b5b4d
			   Reference: https://www.joshwcomeau.com/css/designing-shadows/ */
			/* With shadow, bg color darkens to #7dcdbb, fg:bg contrast-ratio: 11.32:1 */
			text-shadow: 0.3px 0.5px 0.7px hsl(169.5, 78.43%, 57%),
			  0.4px 0.8px 1px hsl(169.5, 78.43%, 38%),
			  1px 2px 2.5px hsl(169.5 78.43% 38% / 0.34),
			  -1px -1px 1.1vw #93d1c1,
			  1px 1px 1.1vw #93d1c1,
			  -4px -5px 8px hsl(164.52deg, 40.26%, 46.8%),
			  6px 6px 5px hsl(164.52deg, 40.26%, 38.8%);

			/* filter: drop-shadow(1px 2px 8px var(hsl(169.5, 78.43%, 57%))); */
		}
		html {
			--fg-color: #141a1b;  /* contrast ratio: 17.59:1 */
			--bg-color: #ffffff;
			--link-highlight-color: #24759E; /* contrast-ratio: 5.1:1 */
			--h2-color: #cd3f45; /* contrast-ratio: 4.78:1 */
			--code-color: #6e6e6e; /* contrast-ratio: 4.47:1 */
			--webaddress-link-color: #09765e; /* contrast-ratio: 5.57:1 */
			--skills-h2-color: #8ebe41; /* #8ebe41 contrast-ratio: 2.18:1 (increased by outline text-shadow/drop-shadow filter below) */
			--date-color: #777; /* contrast-ratio: 4.47:1 */
			--oss-h3-color: #3ea638; /* contrast-ratio: 3.12:1 (increased by border drop-shadow filter below) */
			color: var(--fg-color);
			background-color: var(--bg-color);

			--shadow-color: 200.16 62.89% 38.04%;
		}
		a:hover {
			text-decoration: underline overline solid var(--link-highlight-color);
			text-decoration-skip-ink: all;
			text-decoration-thickness: calc((1/16) * var(--default-font-size) / 11);
			filter: var(--shadow-elevation-low);
		}
		code {
			color: var(--code-color);
		}
		h2 {
			--shadow-outline-color: 358.22 59.76% 16%; /* #411012 contrast-ratio: 16.05:1 */
			--shadow-color: 358.22 59.76% 22%; /* #5a1719 contrast-ratio: 13.36:1 */
			--shadow-dark-color: 358.22 59.76% 0%; /* #000000 bg contrast-ratio: 21:1 */
			--shadow-elevation-low:
				drop-shadow(0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.34))
				drop-shadow(0.4px 0.8px 1px hsl(var(--shadow-color) / 0.34))
				drop-shadow(1px 2px 2.5px hsl(var(--shadow-color) / 0.34));
			text-shadow: -0.05px -0.3px 0.7px hsl(var(--shadow-outline-color)),
							0.3px 0.5px 0.7px hsl(var(--shadow-color)),
							0.4px 0.8px 1px hsl(var(--shadow-dark-color));
			filter: var(--shadow-elevation-low);
		}
		#skills {
			h2 {
				color: var(--skills-h2-color);
				--shadow-outline-color: 83 49.18% 16%; /* #411012 contrast-ratio: 16.05:1 */
				--shadow-color: 83 49.18% 22%; /* #5a1719 contrast-ratio: 13.36:1 */
				--shadow-dark-color: 83 49.18% 0%; /* #000000 bg contrast-ratio: 21:1 */
				--shadow-elevation-low:
					drop-shadow(0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.34))
					drop-shadow(0.4px 0.8px 1px hsl(var(--shadow-color) / 0.34))
					drop-shadow(1px 2px 2.5px hsl(var(--shadow-color) / 0.34));
				text-shadow: -0.05px -0.3px 0.7px hsl(var(--shadow-outline-color)),
								0.3px 0.5px 0.7px hsl(var(--shadow-color)),
								0.4px 0.8px 1px hsl(var(--shadow-dark-color));
				filter: var(--shadow-elevation-low);
			}
		}
		#header {
			#webaddress {
				color: var(--webaddress-link-color);
			}
		}
		#open-source {
			& > h3 {
				--shadow-outline-color: 119 48% 22%; /* #1e531d contrast-ratio: 9.08:1 */
				--shadow-color: var(--shadow-outline-color);
				--shadow-elevation-low:
				  drop-shadow(0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.34))
				  drop-shadow(0.4px 0.8px 1px hsl(var(--shadow-color) / 0.34))
				  drop-shadow(1px 2px 2.5px hsl(var(--shadow-color) / 0.34));
				text-shadow: -0.05px -0.3px 0.7px hsl(var(--shadow-outline-color)),
				             0.3px 0.5px 0.7px hsl(var(--shadow-color)),
				             0.4px 0.8px 1px hsl(var(--shadow-color));
				filter: var(--shadow-elevation-low);
			}
		}
	}
}

@media (prefers-reduced-transparency: reduce) {
	::selection {
		text-shadow: none;
	}

	a:hover {
		filter: none;
	}
}

@media screen and (prefers-reduced-motion: no-preference) {
	html {
		scroll-behavior: smooth;
	}
}

@media screen and (prefers-reduced-motion: reduce) {
	* {
		/* Very short durations means JavaScript that relies on events still works */
		animation-duration: 0.001ms !important;
		animation-iteration-count: 1 !important;
		transition-duration: 0.001ms !important;
	}
	a:hover {
		text-decoration: none;
		filter: none;
	}
}
