<!doctype html>
<html>
<head>
  <meta charset=utf-8 />
  <meta name="viewport" content="width=device-width initial-scale=1.0" />
  <title>{% if page.title %}{{ page.title }}{% endif %}</title>
  <link rel="preload" as="font" type="font/woff2" href="/assets/fonts/MonaspaceNeonVarVF_wght,wdth,slnt.woff2" crossorigin/>
  <link rel="preload" as="font" type="font/woff2" href="/assets/fonts/NotoSansDisplay-VariableFont_wdth,wght.woff2" crossorigin/>
  <link rel="preload" as="font" type="font/woff2" href="/assets/fonts/JetBrainsMonoNerdFontPropo-Regular.woff2" media="not (prefers-reduced-data)" crossorigin/>
  <link rel="preload" as="font" type="font/woff2" href="/assets/fonts/JetBrainsMonoNerdFontMono-Regular.woff2" crossorigin/>
  <link rel="preload" as="script" href="https://cdn.jsdelivr.net/npm/css-prefers-color-scheme@10.0.0/dist/browser-global.js" media="screen" crossorigin="anonymous"/>
  <!-- <link rel="preload" as="font" type="font/woff2" href="/assets/fonts/JetBrainsMonoNerdFontMono-ExtraBold.woff2" crossorigin/> -->

  <link href="{{ 'assets/css/screen.css' | relative_url }}" type="text/css" rel="stylesheet" media="screen"/>
  <link href="{{ 'assets/css/print.css'  | relative_url }}" type="text/css" rel="stylesheet" media="print"/>
  <script src="https://cdn.jsdelivr.net/npm/css-prefers-color-scheme@10.0.0/dist/browser-global.js" crossorigin="anonymous"></script>
  <script>prefersColorSchemeInit()</script>
</head>
<body>
  <div id="main">
    <div id="cv">
      <article>
      {{ content }}
      </article>
    </div>
  </div>
</body>
</html>
