<!doctype html>
<html>
<head>
  <meta charset=utf-8 />
  <title>{% if page.title %} {{ page.title }} | {% endif %}</title>
  <link href="{{ 'media/' | append: site.style | append: '-screen.css' | relative_url }}" type="text/css" rel="stylesheet" media="screen">
  <link href="{{ 'media/' | append: site.style | append: '-print.css'  | relative_url }}" type="text/css" rel="stylesheet" media="print">
</head>
<body>
  <div id="main">
    <div id="cv">
    {{ content }}
    </div>
  </div>
</body>
</html>
